.glyphicon-circle-arrow-left {
    margin-top: 4%;
    font-size: 50px;
    color: #960028;
    cursor: pointer;
    float: left;
}

@media (min-width: 768px) {  
    #submitEmail {
        margin-left: 2%;
    }
}

@media (max-width: 768px) {
    h2 {
        margin-top: 70px;
    }
    .glyphicon-circle-arrow-left {
        font-size: 30px;
        margin-left: -30%;
    }
}